body {
    background-color: #f5f5f5;
}
.container {
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    h1 {
        font-size: 60px;
        color: #ead7d7;
    }
    #todoapp {
        $itemHeight: 60px;
        background-color: #fff;
        .header.li {
            position: relative;
            height: $itemHeight;
            border-bottom: 1px solid #eee;
            label {
                position: absolute;
                width: $itemHeight - 8px;
                height: $itemHeight;
                top: 0;
                left: 0;
                line-height: $itemHeight;
                text-align: center;
                font-size: 20px;
                cursor: pointer;
            }
            p {
                position: absolute;
                top: 0;
                bottom: 0;
                left: $itemHeight - 8px;
                right: 0;
                input[type="text"] {
                    width: 100%;
                    height: 100%;
                    padding: 8px;
                    font-size: 20px;
                }
            }
        }
        header {
            @extend .header.li;
            label .icon {
                font-size: 1em;
            }
        }
        main {
            li {
                @extend .header.li;
                input {
                    color: #333;
                }
                .icon.delete {
                    position: absolute;
                    top: 20px;
                    right: 24px;
                    color: #853030;
                    cursor: pointer;
                    display: none;
                }
                &.completed p input {
                    color: #888;
                    text-decoration: line-through;
                }
                &:hover {
                    .icon.delete {
                        display: inline;
                    }
                }
                &.edit {
                    label {
                        display: none;
                    }
                    p input {
                        border: 1px solid #ccc;
                        box-shadow: 0 0 8px #ccc inset;
                        color: #333;
                        text-decoration: none;
                    }
                    &:hover {
                        .icon.delete {
                            display: none;
                        }
                    }
                }
            }
        }
        footer {
            height: $itemHeight - 10px;
            padding: 12px;
            color: #888;
            text-align: center;
            span {
                float: left;
            }
            div.select {
                display: inline-block;
            }
            button {
                border: 1px solid #fff;
                padding: 2px 4px;
                font: inherit;
                color: inherit;
                cursor: pointer;
                &.clear-completed {
                    float: right;
                }
                &:hover {
                    border-color: #eee;
                }
            }
        }
    }
}